.letter {
    transition: 0.5s;
    transform: translateX(0);
    /* color: #fff; */

}
.letter:hover{
    transform: translateY(1rem);
    background-color: -webkit-linear-gradient(120deg,hsl(19, 90%, 36%), hsl(56, 79%, 34%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* .animate_word{
    background: darkblue;
} */